@import "fonts";
@import "layout";


body {
    margin: 0 auto;
    background-color: #d9d9d9;
    color: #222;
    font-family: "Assistant", "News Cycle", "Lato", "PT Sans", sans-serif;
    font-weight: 400;

    font-size: 19px;
    @include width_below(660px) { font-size: 16px; }
    @include width_below(490px) { font-size: 14px; }

    width: 820px;
    @include width_below(820px) { width: 660px; }
    @include width_below(660px) { width: 610px; }
    @include width_below(610px) { width: 490px; }
    @include width_below(490px) { width: 400px; }
    @include width_below(400px) { width: 320px; }
}

a {
    color: #9f3052;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
}

header {
    margin-bottom: 3em;

    a {
        color: #9f3052;
        text-decoration-thickness: 1px;
        text-underline-offset: 1px;

        &.wearer {
            padding-right: 0.1em;
        }

        &.hasworn {
            color: #666;
            padding-left: 0.1em;
        }
    }

    h1 {
        line-height: 1.2;
        margin: 15px 0 0;

        a {
            text-decoration-thickness: 0.1em;
            text-underline-offset: 0.1em;
        }

        font-size: 2.5em;
        @include width_below(820px) { font-size: 2.2em; }
        @include width_below(660px) { font-size: 2em; }
        @include width_below(610px) { font-size: 1.8em; }
        @include width_below(490px) { font-size: 1.6em; }
        @include width_below(400px) { font-size: 1.4em; }
    }

    p {
        font-family: "Raleway", sans-serif;
        font-size: 1.2em;
        line-height: 1.2;
        margin: 1em 0;
    }
}

footer {
    margin: 3em 0;
}

#body h1 {
    font-size: 1.5em;
    margin: 0 0 0.25em;
}

h2 {
    font-size: 1.5em;
    margin: 1.5em 0 0.25em;
}
h3 {
    color: #aaa;
}

ul.sorting {
    margin: 0 0 2em;
    padding: 0;
    color: #9f3052;

    li {
        margin: 0;
        padding: 0;
        list-style: inside square;

        em {
            font-weight: bold;
            font-style: normal;
        }
    }
}

ol.clothing {
    padding: 0;
    margin: 0;
    display: grid;

    > li {
        list-style: none;
        justify-self: center;

        img {
            display: block;
            height: auto;
            outline: 1px solid #9f3052;
        }

        b {
            @extend .screen-reader-text;
        }

        @include width_above(819px) {
            // when there is space to lay out a week across,
            // line up Saturdays on the left always
            &.Sat {
                grid-column-start: 1;
            }
            &.Sun {
                grid-column-start: 2;
            }
            &.Mon {
                grid-column-start: 3;
            }
            &.Tue {
                grid-column-start: 4;
            }
            &.Wed {
                grid-column-start: 5;
            }
            &.Thu {
                grid-column-start: 6;
            }
            &.Fri {
                grid-column-start: 7;
            }
            &.same-day {
                margin-top: -95px;
                border-top: 3px solid #d9d9d9;
            }
        }
    }

    // provides text on top of images
    > li {
        position: relative;

        i {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.666);
            color: rgb(240, 240, 240);
            padding: 2px 5px;
            font-style: normal;
            bottom: 0;
            left: 0;

            span {
                color: rgb(128, 128, 128);
            }

            em {
                font-style: normal;
                font-weight: 800;
                color: #cfc;
            }
        }

        a i {
            bottom: 10px;
            font-size: 14px;
            max-width: 80px;
            font-weight: 800;
        }
    }

    // multi-columns layouts
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    @include width_below(820px) { gap: 12px;
                                  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
    @include width_below(660px) { gap: 14px; }
    @include width_below(610px) { gap: 10px;
                                  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
    @include width_below(490px) { gap: 10px; }
    @include width_below(400px) { gap: 8px; 
                                  grid-template-columns: 1fr 1fr 1fr 1fr; }

    > li,
    > li img {
        width: 100px;
        @include width_below(660px) { width: 90px; }
        @include width_below(610px) { width: 86px; }
        @include width_below(490px) { width: 72px; }
        @include width_below(400px) { width: 74px; }
    }
    > li i {
        font-size: 12px;
        @include width_below(820px) { font-size: 12px; }
        @include width_below(660px) { font-size: 11px; }
        @include width_below(610px) { font-size: 11px; }
        @include width_below(490px) { font-size: 10px; }
        @include width_below(400px) { font-size: 10px; }
    }

    &.most {
        // hide overflow items caused by wrapping
        @include width_above(820px) {
            @include hide_grid_widows(7);
        }
        @include width_between(610px, 820px) {
            @include hide_grid_widows(6);
        }
        @include width_between(400px, 610px) {
            @include hide_grid_widows(5);
        }
        @include width_below(400px) {
            @include hide_grid_widows(4);
        }
    }

    &.large {
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        @include width_below(660px) { grid-template-columns: 1fr 1fr 1fr; }
        @include width_below(490px) { grid-template-columns: 1fr 1fr; }

        > li,
        > li img {
            width: 190px; 
            @include width_below(820px) { width: 150px; }
            @include width_below(660px) { width: 190px; }
            @include width_below(610px) { width: 150px; }
            @include width_below(490px) { width: 190px; }
            @include width_below(400px) { width: 150px; }
        }
        > li i {
            bottom: 5px;
            font-size: 12px;
            left: 5px;
            max-width: 140px;
            @include width_below(820px) { font-size: 10px; max-width: 100px; }
            @include width_below(660px) { font-size: 12px; max-width: 140px; }
            @include width_below(610px) { font-size: 10px; max-width: 100px; }
            @include width_below(490px) { font-size: 12px; max-width: 140px; }
            @include width_below(400px) { font-size: 10px; max-width: 100px; }
        }
        > li a i {
            bottom: 26px;
            font-size: 14px;
            @include width_below(820px) { font-size: 12px; bottom: 24px; }
            @include width_below(660px) { font-size: 14px; bottom: 26px; }
            @include width_below(610px) { font-size: 12px; bottom: 24px; }
            @include width_below(490px) { font-size: 14px; bottom: 26px; }
            @include width_below(400px) { font-size: 12px; bottom: 24px; }
        }
    }

    &.large.statless > li a i {
        bottom: 5px;
    }
}

body.year {
    ol.year,
    ol.year > li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    ol.year h2 {
        text-align: center;
    }
}

body.type {
    ol.clothing.large > li i {
        padding-right: 35px;
    }
    ol.clothing.large > li a i {
        bottom: 42px;
        @include width_below(820px) { bottom: 38px; }
        @include width_below(660px) { bottom: 42px; }
        @include width_below(610px) { bottom: 38px; }
        @include width_below(490px) { bottom: 42px; }
        @include width_below(400px) { bottom: 38px; }
    }
}

body.clothing {
    p.image {
        width: 900px;
        margin: 0 -40px;

        @include width_below(820px) { width: 740px; }
        @include width_below(660px) { width: 660px;
                                      margin: 0 -25px; }
        @include width_below(610px) { width: 540px; }
        @include width_below(490px) { width: 440px;
                                      margin: 0 -20px; }
        @include width_below(400px) { width: 360px; }

        img {
            max-width: 100%;
            height: auto;
            outline: 4px solid #9f3052;
        }
    }

    ol.wearing {
        margin: 0;
        padding: 0;
        max-width: 600px;
        // font-size: 19px;

        li {
            list-style: none;
            line-height: 1.6;
            clear: right;

            span {
                // font-size: 0.8em;
                line-height: 2.2;
                color: #999;
                float: right;
            }

            &.last {
                color: #9f3052;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                font-weight: bold;
                // font-size: 22px;
            }

            &.since_month        { padding-bottom: 1em; }
            &.since_twomonth     { padding-bottom: 2em; }
            &.since_quarter      { padding-bottom: 3em; }
            &.since_half         { padding-bottom: 4em; }
            &.since_threequarter { padding-bottom: 7em; }
            &.since_year         { padding-bottom: 10em; }
            &.since_years        { padding-bottom: 15em; }
        }

        h2 {
            margin: 0;
            padding: 0;
            line-height: 1;
            width: 170px;
            float: left;
            text-align: right;
            color: #9f3052;
        }
        ol {
            margin-left: 210px;
            border-left: 5px solid #9f3052;
        }
        ol:last-child {
            padding-bottom: 1.5em;
        }

        @include width_below(610px) {
            h2 { width: 100px; }
            ol { margin-left: 140px; }
        }
        @include width_below(490px) {
            h2 { width: 80px; font-size: 22px; }
            ol { margin-left: 100px; padding-left: 20px; }
            li { font-size: 16px; }
            li.last { font-size: 18px; }
        }
        @include width_below(400px) {
            h2 { width: 50px; font-size: 18px; }
            ol { margin-left: 70px; padding-left: 20px; }
            li { font-size: 14px; }
            li.last { font-size: 15px; }
        }
    }
}

body.not-found {
    #body h1 {
        font-size: 3em;
        text-align: center;
    }

    #body h1 + p {
        font-size: 1.6em;
        padding: 0 2em;
        @include width_below(610px) { font-size: 1.2em; }

        img {
            outline: 1px solid #9f3052;
            max-width: 60%;
            height: auto;
            float: right;
            margin-left: 1em;
            margin-bottom: 1em;
        }
    }

    h2 {
        clear: both;
    }
}

body.apex {
    header {
        h1 {
            color: #9f3052;
            font-size: 6em;
            @include width_below(820px) { font-size: 5em; }
            @include width_below(660px) { font-size: 4em; }
            @include width_below(490px) { font-size: 3em; }
        }

        p {
            font-weight: 900;
            margin-top: 0;
        }
    }

    #body p:first-child {
        font-size: 1.6em;
        padding: 0 2em;
        @include width_below(610px) { font-size: 1.2em; }

        img {
            outline: 1px solid #9f3052;
            max-width: 60%;
            height: auto;
            float: right;
            margin-left: 1em;
            margin-bottom: 1em;
        }
    }
    #body p + p {
        // clear: both;
        // padding-top: 1em;
        font-size: 1.6em;
        padding: 0 2em;
    }
}
