Django==3.2.5
gunicorn==20.1.0
psycopg2-binary==2.9.1
django-storages==1.11.1
boto3==1.18.16
Pillow==8.3.1
sorl-thumbnail==12.7.0
pytest-django==4.4.0
libsass==0.21.0
awscli==1.20.20
icalendar==4.0.7
celery==5.1.2
redis==3.5.3
