{% extends "base_template.html" %}
{% load thumbnail %}

{% block head_title %}All clothing — i.hasworn.com{% endblock %}
{% block content %}

<h1>All clothing</h1>

{% if never_worn %}
<h2>Not yet worn</h2>
<ol class='clothing most'>
  {% for worn in never_worn %}
    <li>
      <form method='post' action='{% url "create-wearing" %}' class='wear'>
        {% csrf_token %}
        <input type='hidden' name='day' value='{% now "Y-m-d" %}'>
        <input type='hidden' name='worn' value='{{worn.pk}}'>
        <button type='submit'>
          {% thumbnail worn.clothing.image "100x100" crop="center" as thumb %}
            <img src='{{thumb.url}}' width=100 height=100 alt=''>
          {% empty %}
            <img src='//hasworn.m17s.net/placeholder/tshirt.100.jpg' width=100 height=100 alt=''>
          {% endthumbnail %}
          <i><b>Wear</b> {{worn.clothing.name}}</i>
        </button>
      </form>
      <div>
        <a href='{% url "update-clothing" worn.clothing.pk %}'>Edit
          <b>{{worn.clothing.name}}</b></a>
      </div>
    </li>
  {% endfor %}
</ol>
{% endif %}

<h2>Currently wearing</h2>
<ol class='clothing most'>
{% for worn in wearing %}
  <li>
    <form method='post' action='{% url "create-wearing" %}' class='wear'>
      {% csrf_token %}
      <input type='hidden' name='day' value='{% now "Y-m-d" %}'>
      <input type='hidden' name='worn' value='{{worn.pk}}'>
      <button type='submit'>
        {% thumbnail worn.clothing.image "100x100" crop="center" as thumb %}
          <img src='{{thumb.url}}' width=100 height=100 alt=''>
        {% empty %}
          <img src='//hasworn.m17s.net/placeholder/tshirt.100.jpg' width=100 height=100 alt=''>
        {% endthumbnail %}
        <i><b>Wear</b> {{worn.clothing.name}}</i>
      </button>
    </form>
    <div>
      <a href='{% url "update-clothing" worn.clothing.pk %}'>Edit
        <b>{{worn.clothing.name}}</b></a>
    </div>
  </li>
{% endfor %}
</ol>

<h2>No longer wearing</h2>
<ol class='clothing most'>
{% for worn in no_longer_wearing %}
  <li>
    <div>
      {% thumbnail worn.clothing.image "100x100" crop="center" as thumb %}
        <img src='{{thumb.url}}' width=100 height=100 alt=''>
      {% empty %}
        <img src='//hasworn.m17s.net/placeholder/tshirt.100.jpg' width=100 height=100 alt=''>
      {% endthumbnail %}
      <i>{{worn.clothing.name}}</i>
    </div>
    <a href='{% url "update-clothing" worn.clothing.pk %}'>Edit 
      <b>{{worn.clothing.name}}</b></a>
  </li>
{% endfor %}
</ol>

{% endblock %}
