{% extends "base_template.html" %}
{% load thumbnail %}

{% block head_title %}Wear again — i.hasworn.com{% endblock %}
{% block content %}

<h1>Wear again today ({% now 'Y-m-d' %})</h1>
<ol class='clothing most'>
{% for worn in wearings %}
  <li>
    {% comment %}
      <button type='submit'>
        {% thumbnail worn.clothing.image "100x100" crop="center" as thumb %}
          <img src='{{thumb.url}}' width=100 height=100 alt=''>
        {% empty %}
          <img src='//hasworn.m17s.net/placeholder/tshirt.100.jpg' width=100 height=100 alt=''>
        {% endthumbnail %}
        {{worn}}
      </button>
    </form>
    {% endcomment %}
    <form method='post' action='{% url "create-wearing" %}' class='wear'>
      {% csrf_token %}
      <input type='hidden' name='day' value='{% now "Y-m-d" %}'>
      <input type='hidden' name='worn' value='{{worn.pk}}'>
      <button type='submit'>
        {% thumbnail worn.clothing.image "100x100" crop="center" as thumb %}
          <img src='{{thumb.url}}' width=100 height=100 alt=''>
        {% empty %}
          <img src='//hasworn.m17s.net/placeholder/tshirt.100.jpg' width=100 height=100 alt=''>
        {% endthumbnail %}
        <b>Wear </b><i>{{worn.clothing.name}}</i>
      </button>
    </form>
  </li>
{% endfor %}
</ol>

{% endblock %}
