{% extends "base_template.html" %}

{% block head_title %}Track the clothing you wear — hasworn.com{% endblock %}
{% block body-class %}apex{% endblock %}

{% block header %}
  <header>
    <h1>hasworn.com</h1>
    <p>
      A <a href='https://marknormanfrancis.com/'>Mark Norman Francis</a>
      project.
    </p>
  </header>
{% endblock %}

{% block content %}
  <p>
    <img src='//hasworn.m17s.net/placeholder/tshirt.jpg' width=420 height=420 alt=''>
    A site for obsessively tracking what clothing you wear on a daily
    basis, then telling the world about it.
  </p>
  <p>
    Currently not accepting signups (because that part hasn't been built yet),
    but do contact <a href='https://twitter.com/cackhanded'>@cackhanded</a> if
    you have an interest in tracking the mundane.
  </p>
  <p>
    Try <a href='https://norm.hasworn.com'>norm.hasworn.com</a> for a preview
    of what it would look like if you had tracked what tshirt you wore
    for nearly a decade.
  </p>
{% endblock %}
