{% extends "base_template.html" %}

{% block content %}
  {% if user.is_authenticated %}
    <form method='post' action='{% url "logout" %}'>
      {% csrf_token %}
      <input type='submit' value='Logout'>
    </form>
  {% else %}

    <form method='post' action='{% url "login" %}'>
      {% csrf_token %}
      <label>
        Username:
        <input type='text' name='username' autofocus='' autocapitalize='none' autocomplete='username' maxlength='30' required='' id='id_username'>
      </label>
      <label>
        Password:
        <input type='password' name='password' autocomplete='current-password' required='' id='id_password'>
      </label>
      <input type='submit' value='login'>
    </form>

    {% comment %}
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    {% endcomment %}

  {% endif %}

{% endblock %}
