{% extends "base_template.html" %}

{% block content %}

<h2>Today ({% now 'Y-m-d' %})</h2>
{% if request.user.wearing_today %}
  {% for wearing in request.user.wearing_today %}
    <p>{{wearing.clothing}}</p>
  {% endfor %}
{% else %}
  <form method='post' action='{% url "create-wearing" %}'>
    {% csrf_token %}
    <input type='hidden' name='day' value='{% now "Y-m-d" %}'>
    <fieldset>
      <legend>Wearing today</legend>
      <label for='tshirt'>Tshirt</label>
      <select id='tshirt' name='worn'>
        {% for worn in request.user.worn_set.all %}
        <option value='{{worn.pk}}'>{{worn.clothing}}</option>
        {% endfor %}
      </select>
      <input type='submit' value='Submit'>
    </fieldset>
  </form>
{% endif %}

<h2>New clothing</h2>
<form method='post' action='{% url "create-clothing" %}' enctype="multipart/form-data">
  {% csrf_token %}
  <fieldset>
    <legend>New clothing</legend>
    <label>
      Name
      <input type='text' name='name'>
    </label>
    <label>
      Description
      <input type='text' name='description'>
    </label>
    <label>
      Image
      <input type='file' name='image'>
    </label>
    <label>
      Wearing now?
      <input type='checkbox' name='wearing'>
    </label>
    <input type='submit' value='Create'>
  </fieldset>
</form>

<h2>Previously</h2>
<ul>
  {% for wearing in request.user.worn_previously.all|slice:":5" %}
  <li>
    {{wearing}}
    <form method='post' action='{% url "delete-wearing" pk=wearing.pk %}'>
      {% csrf_token %}
      <input type='hidden' name='pk' value='{{wearing.pk}}'>
      <input type='submit' value='Delete'>
    </form>
  </li>
  {% endfor %}
</ul>

<form method='post' action='{% url "create-wearing" %}'>
  {% csrf_token %}
  <fieldset>
    <legend>Previously worn</legend>
    <label for='date'>Date</label>
    <input type='date' name='day'>
    <label for='tshirt'>Tshirt</label>
    <select id='tshirt' name='worn'>
      {% for worn in request.user.worn_set.all %}
      <option value='{{worn.pk}}'>{{worn.clothing}}</option>
      {% endfor %}
    </select>
    <input type='submit' value='Submit'>
  </fieldset>
</form>


{% endblock %}
