<html>
<head>
  <meta charset="utf8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  {% include 'wearers/styles.html' %}
  {% block page-style %}{% endblock %}
</head>
<body>
{% block header %}
  <header>
    <h1>
      <a href='/' class='wearer'>{{wearer}}</a>.<a 
         href='https://hasworn.com/' class='hasworn'>hasworn.com</a>
    </h1>
    <p>
      <a href='/'>{{wearer.get_name}}</a> has worn
      <a href='/tshirts/'>{{wearer.has_worn.count}} different tshirts</a>
      {{wearer.wearings.count}} times, in 
      {% for year in wearer.years_active %}
        {% if forloop.last %}
          {% if not forloop.first %} and {% endif %}
          <a href='/{{year}}/'>{{year}}</a>.
        {% else %}
          <a href='/{{year}}/'>{{year}}</a>,
        {% endif %}
      {% endfor %}
    </p>
  </header>
{% endblock %}
<div id='body'>
{% block content %}
{% endblock %}

{% block footer %}
  <footer>
    <em>hasworn.com</em> — a project by 
    <a href='https://marknormanfrancis.com/'>Mark Norman Francis</a>.
    Source on <a href='https://github.com/norm/hasworn/'>GitHub</a>, this is version <a href='https://github.com/norm/hasworn/commit/{{COMMIT_SHA}}'>{{COMMIT_SHA}}</a>.
  </footer>
{% endblock %}
</div>
</body>
</html>
