{% extends "wearers/base.html" %}
{% load thumbnail %}

{% block body-class %}year{% endblock %}

{% block content %}
<h1>
  In {{year}} {{wearer.get_name}} wore {{distinct_wearings.count}}
  different tshirts {{wearings.count}} times.
</h1>

<ol class='year'>
{% for wearing in wearings %}
  {% ifchanged wearing.day.month %}
    {% if not forloop.first %}
      </ol>
    </li>
    {% endif %}
    <li>
      <h2>{{wearing.day|date:"F"}}</h2>
      <ol class='month clothing'>
  {% endifchanged %}
    <li value='{{wearing.day|date:"d"}}'
        class='{{wearing.day|date:"D"}} {% if wearing.day.weekday == 5 %}new-week{% endif %}'>
      <a href='{{wearing.clothing.static_site_url}}'>
        {% thumbnail wearing.clothing.image "100x100" crop="center" as thumb %}
          <img src='{{thumb.url}}' width=100 height=100 alt=''>
        {% empty %}
          <img src='//hasworn.m17s.net/placeholder/tshirt.100.jpg' width=100 height=100 alt=''>
        {% endthumbnail %}
      </a>
      <i><b>{{wearing.day|date:"F"}}</b> {{wearing.day|date:"jS"}}</i>
    </li>
{% endfor %}
    </li>
  </ol>
</ol>

{% endblock %}
