{% extends "wearers/base.html" %}
{% load thumbnail %}

{% block page-style %}
<style>
  ol.clothing.large > li a i {
    bottom: 42px;
  }
  ol.clothing.large > li i {
    padding-right: 35px;
    max-width: 140px;
  }
  ol.clothing.large > li a i {
    padding-right: 5px;
  }
</style>
{% endblock %}

{% block content %}
<h1>all {{wearings.0.clothing.type}}s</h1>

<ol class='clothing large'>
  {% for wearing in wearings %}
    <li>
      <a href='{{wearing.clothing.static_site_url}}'>
        {% thumbnail wearing.clothing.image "190x190" crop="center" as thumb %}
          <img src='{{thumb.url}}' width=190 height=190 alt=''>
        {% empty %}
          <img src='//hasworn.m17s.net/placeholder/tshirt.100.jpg' width=190 height=190 alt=''>
        {% endthumbnail %}
        <i>{{wearing.clothing.name}}</i>
      </a>
      <i>
        worn <em>{{wearing.num_worn}}</em> times<!--,
        most recently <em>19 days</em> ago-->
      </i>
    </li>
  {% endfor %}
</ol>
{% endblock %}
