{% extends "wearers/base.html" %}
{% load thumbnail %}

{% block page-style %}
<style>
  ol {
    margin: 0 0 0 -10px;
    padding: 0;
  }
  ol li {
    list-style: none;
    float: left;
    width: 100px;
    min-height: 200px;
    margin: 10px;
    padding: 1px;
    // outline: 1px solid blue;
  }
  ol li img {
    // outline: 1px solid black;
  }
  ol::after {
    content: '';
    display: block;
    clear: both;
  }
</style>
{% endblock %}

{% block content %}
<ol>
  {% for wearing in wearings %}
    <li>
      {{wearing.day}}
      <a href='{{wearing.clothing.static_site_url}}'>
        {% thumbnail wearing.clothing.image "100x100" crop="center" as thumb %}
          <img src='{{thumb.url}}' width=100 height=100 alt=''>
        {% empty %}
          <img src='//hasworn.m17s.net/placeholder/tshirt.100.jpg' width=100 height=100 alt=''>
        {% endthumbnail %}
        {{wearing.clothing}}
      </a>
      worn {{wearing.num_worn}} times
    </li>
  {% endfor %}
</ol>
{% endblock %}
