{% extends "wearers/base.html" %}
{% load thumbnail %}

{% block content %}
<h1>{{year}}</h1>

<ol>
{% for wearing in wearings %}
  {% ifchanged wearing.day.month %}
    {% if not forloop.first %}
    </ol>
    {% endif %}
    <h2>{{wearing.day|date:"F"}}</h2>
    <ol>
  {% endifchanged %}
    <li value='{{wearing.day|date:"d"}}'>
      {% thumbnail wearing.clothing.image "100x100" crop="center" as thumb %}
        <img src='{{thumb.url}}' alt=''>
      {% endthumbnail %}
      {{wearing.day|date:"d"}}
      <a href='{{wearing.clothing.static_site_url}}'>{{wearing.clothing}}</a>
    </li>
{% endfor %}
  </ol>
</ol>

{% endblock %}
