{% extends "wearers/base.html" %}
{% load thumbnail %}

{% block body-class %}year{% endblock %}

{% block content %}
<h1>
  {% with new_count=new_wearings|length distinct=distinct_wearings|length %}
    In {{year}} {{wearer.get_name}} wore
    {{distinct}} different tshirts {{wearings.count}}
    times{% if new_count %}; {{new_count}} were first worn this year{% endif %}.
  {% endwith %}
</h1>

<ol class='year'>
{% for wearing in wearings %}
  {% ifchanged wearing.day.month %}
    {% if not forloop.first %}
      </ol>
    </li>
    {% endif %}
    <li>
      <h2>{{wearing.day|date:"F"}}</h2>
      <ol class='month clothing'>
  {% endifchanged %}
    <li value='{{wearing.day|date:"d"}}'
      class='
        {{wearing.day|date:"D"}}
        {% if wearing.day.weekday == 5 %}new-week{% endif %}
        {% ifchanged wearing.day %}
        {% else %}
          same-day
        {% endifchanged %}
      '>
      <a href='{{wearing.clothing.static_site_url}}'>
        {% thumbnail wearing.clothing.image "100x100" crop="center" as thumb %}
          <img src='{{thumb.url}}' width=100 height=100 alt=''>
        {% empty %}
          <img src='//hasworn.m17s.net/placeholder/tshirt.100.jpg' width=100 height=100 alt=''>
        {% endthumbnail %}
        {% if wearing.pk in new_wearings %}<i>First time</i>{% endif %}
      </a>
      <i><b>{{wearing.day|date:"F"}}</b> {{wearing.day|date:"jS"}}</i>
    </li>
{% endfor %}
    </li>
  </ol>
</ol>

{% endblock %}
