{% extends "wearers/base.html" %}
{% load thumbnail %}

{% block content %}
<ol class='clothing'>
  {% for wearing in wearings %}
    <li>
      {{wearing.day}}
      <a href='{{wearing.clothing.static_site_url}}'>
        {% thumbnail wearing.clothing.image "100x100" crop="center" as thumb %}
          <img src='{{thumb.url}}' width=100 height=100 alt=''>
        {% empty %}
          <img src='//hasworn.m17s.net/placeholder/tshirt.100.jpg' width=100 height=100 alt=''>
        {% endthumbnail %}
        {{wearing.clothing}}
      </a>
      worn {{wearing.num_worn}} times
    </li>
  {% endfor %}
</ol>
{% endblock %}
